/*Global styles*/
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
}

:root{
    --main-font-color: #f2b632;
    --main-white: #fff;
    --main-font-dark-gray: #4d4d4d;
    --main-footer-bg-color: #141414;
    --main-font-family: "Cheddar Jack", cursive;
}

section{
    padding: 6rem 0;
}

p{
    line-height: 1.5;
    font-size: 1.8rem;
    font-weight: 300;
    color: var(--main-font-dark-gray);
}

a{
    text-decoration: none;
    color: var(--main-white);
}

/*Reusable classes*/
/*Header*/
/*Header - Nav Toggle*/
/*Header - Nav*/
/*Header - Main Text*/
/*Section - Our Story*/
/*Section - Fresh Vegetables*/
/*Section - Our Menu*/
/*Section - Fresh Tomatoes*/
/*Section - Contact*/
/*Footer*/
